{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static 'js/replaceme.min.js' %}" defer></script>
  <script src="{% static 'js/replace_text.js' %}" defer></script>
{% endblock %}
{% block title %}Log in{% endblock %}

{% block main %}
<div id="login-container" class="container">
  <div class="row my-4">
    <div class="col-md-6">
      <div class="card shadow-lg border-0 my-3">
        <div class="d-flex flex-column align-items-center justify-content-center text-center text-uppercase mt-3">
          <h5 class="badge bg-primary">Enter Your</h5>
          <h2 class="fw-bold">Log in</h2>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="row">
              <div class="col-md-6 offset-md-3 mb-1">
                <button class="form-control btn btn-outline-light btn--raised rounded-3">
                  LOG IN
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <p class="mb-0">
            Need an account?
            <a href="{% url 'account_signup' %}" class="text-decoration-none fw-bold">
              Register
            </a><br>
            Lost your password?
            <a href="{% url 'account_reset_password' %}" class="text-decoration-none fw-bold">
              Reset it
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h1 class="display-3 text-center mt-4">
        Are you ready? Let's <span class="text-primary fw-bold replace-me">Play, 2, Learn</span>
      </h1>
    </div>
  </div>
</div>
{% endblock %}