{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}My Account{% endblock title %}

{% block main %}
<div class="card border-primary bg--primary--color m-auto mt-3 mb-3" style="max-width: 30rem">
  <div class="card-header text-center fw-bold mb-2 text-uppercase">
    My Account
  </div>
  <div class="card-body p-5">
    <form method="post" class="form-outline form-white mb-4">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="form-control btn btn-outline-light btn-lg btn--raised rounded-3">UPDATE</button>
    </form>
  </div>
  <div class="card-footer text-center">
    <p>
      <a href="{% url 'account_change_password' %}" class="text-white-50 fw-bold">
        Change Password
      </a>
  </p>
  </div>
</div>
{% endblock %}