{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Check Your Email{% endblock %}

{% block main %}
<div class="container">
  <div class="row my-4">
    <div class="col-md-8 offset-md-2">
      <div class="card shadow-lg border-0 my-3 text-center">
        <div class="d-flex flex-column align-items-center justify-content-center text-center text-uppercase mt-3">
          <h5 class="badge bg-primary">Check</h5>
          <h2 class="fw-bold">Your Email</h2>
        </div>
        <div class="card-body">
          <p class="card-text text-center">
            Check your email for instructions on resetting your password.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}