{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Verify Your Email Address{% endblock %}

{% block main %}
<div class="card border-primary bg--primary--color m-auto mt-3 mb-3" style="max-width: 30rem">
  <div class="card-header text-center fw-bold mb-2 text-uppercase">
    Verify Your Email Address
  </div>
  <div class="card-body p-5">
    <p class="card-text text-center">We have sent an email to you for verification.
      Follow the link provided to finalize the registration process.</p>
  </div>
</div>
{% endblock %}