:root {
  /* Colors (FIXED) */
  --primary: #DC143C;
  --gunmetal-grey: #708090;
  --black: #051923;
  --gray: #33415c;
  --beige: #979dac;
  --quotes: #3da5d9;

  /* Previously used colors */
  /* Above - --primary: #eb5e28; */
/* Above - --gunmetal-grey: #465362; */
/* html - color: var(--text-color); */

  /* Colors (THEME-DEPENDANT */
  --text-color: white;
  --text-hover: rgb(230, 230, 180);
  --text-active: rgb(220, 220, 160);
  --text-beige: rgb(250, 250, 210);
  --light-icon: white;
  --gray-light: #bdbdbd;
  --anchor-color: var(--primary);

}

::selection {
  background-color: var(--primary);
  color: var(--black);
}


html {
  color: var(--text-beige);           /* or use --black */
}

body {
  font-family: 'Fira Code', monospace;
  overflow: auto;
  /* padding-bottom: 50px; */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: -webkit-linear-gradient(to right, rgba(61, 165, 217, 0.5), rgba(41, 145, 197, 1)); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(to right, rgba(61, 165, 217, 0.5), rgba(41, 145, 197, 1)); */
  /* background: radial-gradient(circle at center, var(--gunmetal-grey), #465362, LightBlue, var(--text-beige)); */

  /* background: linear-gradient(to right, var(--gunmetal-grey), #465362, LightBlue, var(--text-beige)); */

  color: var(--black);           /* or use --black */
}

.navbar {
  transition: all 0.5s ease-in-out;
}

a, input, textarea, button, select {
  font-family: 'Fira Code', monospace;
}

/* My Review Cards */
.card--bg-img {
  background: url('../images/blue-design.jpg') center center no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.card--bg-img-2 {
  background: url('../images/dark-geometric.jpg') center center no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.card--bg-img::after,
.card--bg-img-2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.card--bg-img .card-title,
.card--bg-img-2 .card-title,
.card--bg-img p,
.card--bg-img-2 p,
.card--bg-img span,
.card--bg-img-2 span {
  z-index: 10;
}

/* Registration Page */
.imagine-img {
  background: url('../images/look_rev.jpeg') bottom center no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.imagine-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
}

.imagine-img p {
  z-index: 10;
}

#div_id_dob label {
  display: block !important;
}

/* To Top Button */
.to-top-btn {
  position: fixed;
  z-index: 20;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #44434a;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.to-top-btn:hover {
  background-color: #1d1d21;
}

.to-top-btn {
  img {
    margin-bottom: 0.25rem;
    width: 18px;
  }
}

.show {
  opacity: 1;
}

/* .text--color {
  color: var(--text-beige);
}

a {
  color: var(--text-beige);
}

a:hover {
  color: var(--text-hover);
}

a:active {
  color: var(--text-active);
} */

a.trash-color {
  color: var(--primary);
}

.golden-text {
  color: #FFD700;
}

.bg--primary--color {
  background-color: var(--gunmetal-grey);
}

/* .bg--img {
  background-image: url('../images/Anagram-Hunt-thumbnail.png');
  background-repeat: no-repeat;
  background-position: top center;
} */

.special--border {
  box-shadow: inset 0 -2px 3px 5px var(--text-beige);
}

.bg--quotes {
  background-color: rgba(70, 83, 98, 0.3);
  box-shadow: inset 0 -2px 3px 3px var(--text-beige);
}

.btn--raised {
  background-color: var(--primary);
  color: #000;
  padding: 10px 48px 10px 18px;
  background-image: url("../images/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  border-radius: 3px;
}

/* .btn--raised-no-arrow {
  background-color: var(--primary);
  color: #000;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid var(--black);
  box-shadow: inset 0 2px 1px 0 var(--black);
} */

.btn--line {
  background-color: var(--primary);
  color: var(--text-beige);
  padding: 12px;
  box-shadow: 1px 0 6px 3px var(--text-beige);
  border-radius: 3px;
}

.btn--line::after {
  content: "";
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid var(--text-beige);
  height: 4px;
  width: 100%;
}

.dd--game:hover {
  background-color: var(--primary);
  color: #fff;
}

/* MESSAGE STYLES */
.message {
  background-color: palegoldenrod;
  color: black;
}

.messagedebug {
  background-color: slategray;
  color: white;
}
.messageinfo {
  background-color: azure;
  color: darkblue;
}

.messagesuccess {
  background-color: lightgreen;
  color: darkgreen;
}

.messagewarning {
  background-color: lightgoldenrodyellow;
  color: darkgoldenrod;
}

.messageerror {
  background-color: pink;
  color: darkred;
}

@media (min-width: 1000px) {
  .btn--nav {
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid var(--primary);
    box-shadow: inset 0 2px 1px 0 var(--primary);
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
