:root {
  /* Colors (FIXED) */
  --primary: #DC143C;
  --gunmetal-grey: #708090;
  --black: #051923;
  --gray: #33415c;
  --beige: #979dac;
  --quotes: #3da5d9;

  /* Previously used colors */
  /* Above - --primary: #eb5e28; */
/* Above - --gunmetal-grey: #465362; */
/* html - color: var(--text-color); */

  /* Colors (THEME-DEPENDANT */
  --text-color: white;
  --text-beige: #F5F5DC;
  --light-icon: white;
  --gray-light: #bdbdbd;
  --anchor-color: var(--primary);

}

::selection {
  background-color: var(--primary);
  color: var(--black);
}


html {
  color: var(--text-beige);           /* or use --black */
}

body {
  font-family: 'Fira Code', monospace;
  overflow: auto;
  padding-bottom: 50px;
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: -webkit-linear-gradient(to right, rgba(61, 165, 217, 0.5), rgba(41, 145, 197, 1)); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(to right, rgba(61, 165, 217, 0.5), rgba(41, 145, 197, 1)); */
  /* background: radial-gradient(circle at center, var(--gunmetal-grey), #465362, LightBlue, var(--text-beige)); */

  background: linear-gradient(to right, var(--gunmetal-grey), #465362, LightBlue, var(--text-beige));

  color: var(--text-beige);           /* or use --black */
}

a, input, textarea, button, select {
  font-family: 'Fira Code', monospace;
}

.bg--primary--color {
  background-color: var(--gunmetal-grey);
}

.special--border {
  box-shadow: inset 0 -2px 3px 5px var(--text-beige);
}

.bg--quotes {
  background-color: rgba(70, 83, 98, 0.3);
  box-shadow: inset 0 -2px 3px 3px var(--text-beige);
}

.btn--raised {
  background-color: var(--primary);
  color: #000;
  padding: 10px 48px 10px 18px;
  background-image: url("../images/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  border-radius: 3px;
}

/* .btn--raised-no-arrow {
  background-color: var(--primary);
  color: #000;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid var(--black);
  box-shadow: inset 0 2px 1px 0 var(--black);
} */

.btn--line {
  background-color: var(--primary);
  color: var(--text-beige);
  padding: 12px;
  box-shadow: 1px 0 6px 3px var(--text-beige);
  border-radius: 3px;
}

.btn--line::after {
  content: "";
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid var(--text-beige);
  height: 4px;
  width: 100%;
}

.dd--game:hover {
  background-color: var(--primary);
}

/* MESSAGE STYLES */
.message {
  background-color: palegoldenrod;
  color: black;
}

.messagedebug {
  background-color: slategray;
  color: white;
}
.messageinfo {
  background-color: azure;
  color: darkblue;
}

.messagesuccess {
  background-color: lightgreen;
  color: darkgreen;
}

.messagewarning {
  background-color: lightgoldenrodyellow;
  color: darkgoldenrod;
}

.messageerror {
  background-color: pink;
  color: darkred;
}

a.link-color {
  color: lightgoldenrodyellow;
}
a.trash-color {
  color: var(--primary);
}

@media (min-width: 1000px) {
  .btn--nav {
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid var(--primary);
    box-shadow: inset 0 2px 1px 0 var(--primary);
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
