{% extends "_base.html" %}

{% block title %}Game Review Details{% endblock %}
{% block main %}
    <div class="card border-primary bg--primary--color m-auto mt-3 mb-3" style="max-width: 30rem">
        <div class="card-header text-center fw-bold mb-2 text-uppercase">
            Review Card
        </div>
        <div class="card-body">
            <h5 class="card-title text-center text--color">
                {{ gamereview.get_game_display }}
            </h5>
            {% if gamereview.user.avatar %}
                <img src="{{ gamereview.user.avatar.url }}" alt="{{ gamereview.user.username }}" class="mt-1 rounded float-start me-2" width="150" height="150">
            {% endif %}
            <p>
                Player {{ gamereview.user.username }} says...<br>
                <q class="golden-text">
                    {{ gamereview.review }}
                </q>
                
            </p>
            <p>
                {% if gamereview.user == user %}
                Update:
                    <a href="{% url 'reviews:update' gamereview.slug %}" class="golden-text p-2">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                Delete:
                    <a href="{% url 'reviews:delete' gamereview.slug %}" class="btn btn-danger btn-sm p-2">
                        <i class="far fa-trash-alt"></i>
                    </a>
                {% endif %}
            </p>
        </div>
        <div class="card-footer">
            <small>
                
                
                Created on: {{ gamereview.created }} <br>
                Last Updated: {{ gamereview.updated }}
            </small>
        </div>
    </div>
{% endblock %}