{% extends '_base.html' %}
{% load static %}

{% block title %}All Reviews{% endblock %} 
{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-md-9 my-4">
        <h1 class="display-4">My Reviews</h1>
      </div>
      <div class="col-md-3 my-4">
        <a class="btn btn-outline-light btn-md btn--raised rounded-3 float-end" href="{% url 'reviews:create' %}">
          + New Review
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-0">
        {% for review in my_reviews %}
          {% if review.game == 'ANAGRAM' %}
          <a href="{% url 'reviews:details' review.slug %}" class="text-decoration-none">
          <div class="card shadow border-0 my-3">
            <div class="card-body card--bg-img position-relative">
              <div class="card-title position-relative text-center text-white fw-bold mb-2">
                {{ review.get_game_display }}
              </div>
              <p class="position-relative">
                <span class="text-white">Rating: </span><span>{{ review.game_rating|safe }}</span>
              </p>
              <span class="d-block position-relative text-center">
                  <q class="text-white">{{ review.review }}</q>
                </span>
              </div>
            </div>
          </a>
          {% endif %}
        {% endfor %}
      </div>
      <div class="col-md-6 mb-0">
        {% for review in my_reviews %}
          {% if review.game == 'MATH' %}
          <a href="{% url 'reviews:details' review.slug %}" class="text-decoration-none  text-white" >
          <div class="card shadow-lg border-0 my-3">
            <div class="card-body card--bg-img-2 position-relative">
              <div class="card-title position-relative text-center text-white fw-bold mb-2">
                {{ review.get_game_display }}
              </div>
              <p class="position-relative">
                <span class="text-white">Rating: </span><span>{{ review.game_rating|safe }}</span>
              </p>
              <span class="d-block position-relative text-center">
                <q class="text-white">{{ review.review }}</q>
              </span>
            </div>
          </div>
              </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
<div class="--custom-mb">
  {% include 'includes/pagination.html' %}
</div>

{% endblock %}