{% extends '_base.html' %}

{% block title %}All Reviews{% endblock %} 
{% block main %}
    <div class="container-fluid" style="max-width: 70rem;">
        <div class="row">
            <div class="col-md-12 mt-3 mb-0">
                <a class="btn btn-outline-light btn-md btn--raised rounded-3 float-end" href="{% url 'reviews:create' %}">
                    + New Review
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-0">
                <div class="card border-primary bg--primary--color m-auto mt-3 mb-3" style="max-width: 33rem">
                    {% for review in reviews %}
                        {% if review.game == 'ANAGRAM' %}
                    <div class="card-header text-center fw-bold mb-2 text-uppercase">
                        {{ review.get_game_display }}
                    </div>
                    <div class="card-body">
                        <P>
                            Rating: <span>{{ review.game_rating|safe }}</span>
                        </P>
                        <ol class="list-unstyled">
                            <li>
                                <span class="d-block text-center">
                                    <a href="{% url 'reviews:details' review.slug %}" class="text-decoration-none">
                                        <q class="golden-text">{{ review.review }}</q>
                                    </a>
                                
                                </span>
                                <div class="card-footer mt-2">
                                    <small>
                                        {% if review.user.avatar %}
                                            <img src="{{ review.user.avatar.url }}" alt="{{ review.user.username }}" class="mt-1 rounded float-end" width="50" height="50">
                                        {% endif %}
                                        By: {{ review.user.username }} <br>
                                        Created on: {{ review.created }} <br>
                                        Last Updated: {{ review.updated }}
                                    </small>
                                </div>
                            </li>
                        </ol>
                    </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6 mb-0">
                <div class="card border-primary bg--primary--color m-auto mt-3 mb-3" style="max-width: 33rem">
                    {% for review in reviews %}
                        {% if review.game == 'MATH' %}
                            <div class="card-header text-center fw-bold mb-2 text-uppercase">
                                {{ review.get_game_display }}
                            </div>
                            <div class="card-body">
                                <P>
                                    Rating: <span>{{ review.game_rating|safe }}</span>
                                </P>
                                <ol class="list-unstyled">
                                    <li>
                                        <span class="d-block text-center">
                                            <a href="{% url 'reviews:details' review.slug %}" class="text-decoration-none" >
                                                <q class="golden-text">{{ review.review }}</q>
                                            </a>
                                            
                                        </span>
                                        <div class="card-footer mt-2">
                                            <small>
                                                {% if review.user.avatar %}
                                                    <img src="{{ review.user.avatar.url }}" alt="{{ review.user.username }}" class="mt-1 rounded float-end" width="50" height="50">
                                                {% endif %}
                                                By: {{ review.user.username }} <br>
                                                Created on: {{ review.created }} <br>
                                                Last Updated: {{ review.updated }}
                                            </small>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}