{% extends '_base.html' %}

{% block title %}All Reviews{% endblock %} 
{% block main %}
    <div>
        <a class="btn btn-success btn-sm float-end" href="{% url 'reviews:create' %}">
            + New Review
        </a>
    </div>
    <div class="card border-primary bg--primary--color m-auto mt-3 mb-3" style="max-width: 33rem">
        <div class="card-header text-center fw-bold mb-2 text-uppercase">
            Anagram Hunt
        </div>
        <div class="card-body">
            <ol>
                {% for review in anagram_reviews %}
                <li>
                    {{ review.user.username }} says:
                    <q>{{ review.review }}</q>
                    {% if review.user == user %}
                        <a href="{% url 'reviews:update' review.slug %}">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a href="{% url 'reviews:delete' review.slug %}">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    {% endif %}
                    <br>
                    <small>
                        Created on: {{ review.created }} By: {{ review.user.username }}
                        Last Updated: {{ review.updated }}
                    </small>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <div class="card border-primary bg--primary--color m-auto mt-3 mb-3" style="max-width: 33rem">
        <div class="card-header text-center fw-bold mb-2 text-uppercase">
            Math Facts Practice
        </div>
        <div class="card-body">
            <ol>
                {% for review in math_reviews %}
                <li>
                    {{ review.user.username }} says:
                    <q>{{ review.review }}</q>
                    {% if review.user == user %}
                        <a href="{% url 'reviews:update' review.slug %}" class="link-color">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a href="{% url 'reviews:delete' review.slug %}" class="trash-color">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    {% endif %}
                    <br>
                    <small>
                        {% if review.user.avatar %}
                            <img src="{{ review.user.avatar.url }}" alt="{{ review.user.username }}" class="mt-1 rounded float-end" width="50" height="50">
                        {% endif %}
                        By: {{ review.user.username }} <br>
                        Created on: {{ review.created }} <br>
                        Last Updated: {{ review.updated }}
                    </small>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}