{% extends '_base.html' %}

{% block title %}Game Scores{% endblock %} 
{% block main %}
    <h1>Game Scores</h1>

    <div class="card border-primary bg--primary--color m-auto mt-3 mb-3" style="max-width: 33rem">
        <div class="card-header text-center fw-bold mb-2 text-uppercase">
            Math Game    
        </div>
        <div class="card-body">
            <ol>
                {% for score in math_scores %}
                <li>
                    Score: 
                    <a href="{{ score.get_absolute_url }}">{{ score.score }}</a> <br>
                    {% if score.user == user %}
                    <a href="{% url 'games:delete' score.pk %}" class="btn btn-danger btn-sm float-end me-2">
                        <i class="far fa-trash-alt"></i>
                    </a><br>
                    {% endif %}
                    <small class="text-muted">
                        Created on: {{ score.created }} By: {{ score.user.username }}
                    </small>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <div class="card border-primary bg--primary--color m-auto mt-3 mb-3" style="max-width: 33rem">
        <div class="card-header text-center fw-bold mb-2 text-uppercase">
            Anagram Game    
        </div>
        <div class="card-body">
            <ol>
                {% for score in anagram_scores %}
                <li>
                    Score: 
                    <a href="{{ score.get_absolute_url }}">{{ score.score }}</a> <br>
                    {% if score.user == user %}
                    <a href="{% url 'games:delete' score.pk %}" class="btn btn-danger btn-sm float-end me-2">
                        <i class="far fa-trash-alt"></i>
                    </a><br>
                    {% endif %}
                    <small class="text-muted">
                        Created on: {{ score.created }} By: {{ score.user.username }}
                    </small>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}