{% extends "_base.html" %}

{% block title %}Score Details{% endblock %}
{% block main %}
  <div class="card border-primary bg--primary--color m-auto mt-3 mb-3" style="max-width: 30rem">
    <div class="card-header text-center fw-bold mb-2 text-uppercase">
        {{ gamescore.get_game_display }}
    </div>
    <div class="card-body text-primary">
      <h5 class="card-title text-center text--color">{{ gamescore.score }}</h5>
      {% if gamescore.user == user %}
        <a href="{% url 'games:delete' gamescore.slug %}" class="btn btn-danger btn-sm float-end me-2">
            <i class="far fa-trash-alt"></i>
        </a>
      {% endif %}
    </div>
    <div class="card-footer">
      <small class="golden-text">
        {% if gamescore.user.avatar %}
          <img src="{{ gamescore.user.avatar.url }}" alt="{{ gamescore.user.username }}"
            class="mt-1 rounded float-start me-2" width="50" height="50">
        {% endif %}
        By: {{ gamescore.user.username }} <br>
        Created on: {{ gamescore.created }} <br>
      </small>
    </div>
  </div>
{% endblock %}