{% extends "_base.html" %}

{% block title %}Score Details{% endblock %}
{% block main %}
  <div class="card border-primary bg--primary--color m-auto mt-3 mb-3 text-center" style="max-width: 30rem">
    <div class="card-header text-center fw-bold mb-2 text-uppercase">
        {{ gamescore.game }}
    </div>
    <div class="card-body text-primary">
      <h5 class="card-title">{{ gamescore.score }}</h5>
      {% if gamescore.user == user %}
        <a href="{% url 'games:delete' gamescore.pk %}" class="btn btn-danger btn-sm float-end me-2">
            <i class="far fa-trash-alt"></i>
        </a>
      {% endif %}
    </div>
    <div class="card-footer">
      <small class="text-muted">
        Created on: {{ gamescore.created }} By: {{ gamescore.user.username }}
      </small>
    </div>
  </div>
{% endblock %}