{% extends "_base.html" %}

{% block title %}My Scores{% endblock %}
{% block main %}

<div class="card bg--primary--color mx-auto my-3" style="width: 60rem;">
    <div class="card-header text-center fw-bold mb-2">
      <h1>{{ username }}</h1>
      <small>Score Board</small>
    </div>
    <div class="table-responsive">
    
      <table class="table table-striped" style="min-width: 500px">
        <thead class="text-center">
          
          <tr>
            
            <th><a href="#">Game</a></th>
        
            <th><a href="#" class="float-start">Settings</a></th>
    
            <th><a href="#">Final Score</a></th>

            <th><a href="#">Recorded On</a></th>

          </tr>
    
        </thead>
    
        <tbody>
          {% for score in my_scores %}
              <tr>
                <td class="text-center">
                    {{ score.user.username }}
                </td>
                <td class="text-center">
                    {{ score.get_game_display }}
                </td>
                <td>
                    {% if score.operation %}

                            Operation: {{ score.get_operation_display }} <br>
                            Max number: {{ score.max_number}}
    
                    {% else %}
    
                        Word Length: {{ score.get_word_length_display }} <br>
                        Total Words: {{ score.total_words }}
                    
                    {% endif %}
                </td>
                <td class="text-center">
                    <a href="{{ score.get_absolute_url }}" class="golden-text">
                        {{ score.score }}
                    </a>
                </td>
                <td class="text-center">
                    {{ score.created|date:'DATE_FORMAT' }}
                </td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>

{% include 'includes/pagination.html' %}

{% endblock %}