{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/391afddfb3.js" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %} | Play2Learn!</title>
</head>
<body>
    <header>
        <a href="{% url 'pages:homepage' %}">Home</a> |
        <a href="{% url 'games:anagram-hunt' %}">Anagram Hunt</a> |
        <a href="{% url 'games:math-facts' %}">Math Facts</a> |
        <a href="{% url 'pages:about' %}">About</a> 
    </header>
<h1>{% block header %}Hello, Django!{% endblock %}</h1>
<main>
    {% block main %}{% endblock %}
</main>
</body>
</html>
